<div class="staff-form">
<div class="container"> 
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
            <div class="card card-container">
            <div class="well">
    <%= simple_form_for @staff, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Staff</legend>

   
     <%= f.input :bio, as: :text %>

      <%= f.input :gender, collection: Staff::GENDER, allow_blank: false, input_html: {class: "avg"}, label: "Gender"  %>

      <% if current_user.role == "admin" %>

      <%= f.input :is_professional, as: :boolean,  label: "Professional Counselor?" %>

       <%= f.input :user_id, collection: User.active.nonstaff, include_blank: false,input_html: {class: "avg"}, label: "Select User to make Staff."  %>

       <% end %>

      <div class="form-actions">
        <%= f.submit 'Make User a Counselor', :class => 'btn btn-primary' %>
      </div>
      
  </fieldset>
<% end %>

  </div>
</div>
</div>
</div>
</div>
</div>
</div>
