<%= render partial: 'layouts/navbar' %>
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-1 col-md-offset-1">
            <div class="well">
            <% if logged_in? && (current_user.role == "admin" || current_user.id == @staff.user.id) %>
            	<h1>Editing Counselor: <%= @staff.user.role %> <%= @staff.user.name %></h1>
            	<%= render 'form', staff: @staff %>
            <% else %>
            	<h1> The page you requested does not exist or may be inaccessible.</h1>
            <% end %>
			<%= link_to 'Back to Staff Profile', @staff, class:"btn btn-pink" %> | <%= link_to 'Back to Staff Listing', staffs_path, class:"btn btn-primary" %>
			</div>
		</div>
	</div>