<%= render partial: 'layouts/navbar' %>
<div class="container"> 
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
            <div class="card card-container">
            <div class="well">
            <% if logged_in? && (current_user.role == "admin" || current_user.id = @staff.user.id) %>
            	<h1>Editing Counselor: <%= @staff.user.role %> <%= @staff.user.name %></h1>
            	<%= render 'form', staff: @staff %>
            <% else %>
            	<h1> The page you requested does not exist or may be inaccessible.</h1>
            <% end %>
			<%= link_to 'Back to Staff Profile', @staff %> | <%= link_to 'Back to Staff Listing', staffs_path %>
			</div>
			</div>
		</div>
	</div>
</div>
