<%= render partial: 'layouts/navbar' %>
<% if logged_in? %>
<p id="notice"><%= notice %></p>

<h1>Counselors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Counselor Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.user.name %></td>
        <td><%= staff.is_professional %></td>
        <td><%= link_to 'View Profile', staff %></td> 

        <% if current_user.role == "admin" || current_user.role == staff.user_id %>
        <td>|<%= link_to 'Edit', edit_staff_path(staff) %>|</td>
        <td><%= link_to 'Remove User from Staff', staff, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.role == "admin" %>
<%= link_to 'Add New Counselor', new_staff_path %>
<% end %>

<% else %>

<h1> The page you requested does not exist or may be inaccessible. </h1>

<% end %>