<%= render partial: 'layouts/navbar' %>
<%= render partial: 'layouts/flash_success'%>
<% if logged_in? %>

  <!-- Nav tabs -->
  <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-1 col-md-offset-1">
  <br><br>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All Counselors</a></li>
    <li role="presentation"><a href="#professional" aria-controls="professional" role="tab" data-toggle="tab">Professional Counselors</a></li>
    <li role="presentation"><a href="#peer" aria-controls="peer" role="tab" data-toggle="tab">Peer Counselors</a></li>
    <li role="presentation"><a href="#online" aria-controls="online" role="tab" data-toggle="tab">Counselors Online</a></li>
  </ul>
  <div class="container"> 
  <div class="row centered-form">
  <div class="col-xs-12 col-sm-8 col-md-8">
  <div class="well-two">

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="all">
        <%= render partial: "layouts/index_structure", locals: {staffcollection: @staffs, online: false} %>
      </div>
      <div role="tabpanel" class="tab-pane" id="professional">
        <%= render partial: "layouts/index_structure", locals: {staffcollection: @professionals, online: false} %>
      </div>
      <div role="tabpanel" class="tab-pane" id="peer">
        <%= render partial: "layouts/index_structure", locals: {staffcollection: @peers, online: false} %>
      </div>
      <div role="tabpanel" class="tab-pane" id="online">
       <%= render partial: "layouts/index_structure", locals: {staffcollection: @staffs, online: true} %>
       <h3> If there is no one here, then that means no one is currently online! </h3>
      </div>
    </div>
<% else %>
  <h1> The page you requested does not exist or may be inaccessible. </h1>
<% end %>
  </div>
  </div>
  </div>
  </div>
</div>

<script type="text/javascript">
  $('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>