<%= render partial: 'layouts/navbar' %>
<%= render partial: 'layouts/flash_success'%>
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-1 col-md-offset-1">
            <div class="well">
            <% if logged_in? %>
              <p>
                <strong>User:</strong>
                <%= @staff.user.name %>
              </p>

              <p>
                <strong>Counselor Type:</strong>
                <% if @staff.is_professional %>
                Professional 
                <% else %> 
                Peer 
                <% end %>
              </p>

              <p>
                <strong>Online:</strong>
                <%= @online_users.include? @staff.user %>
              </p>

              <p>
                <strong>Bio:</strong>
                <%= @staff.bio %>
              </p>

              <p>
                <strong>Gender:</strong>
                <%= @staff.gender %>
              </p>

              <% if current_user.role == "admin" || current_user.id == @staff.user.id %> 
              <!-- Only show username if admin or the actual counselor -->
                <p>
                  <strong>Username:</strong>
                  <%= @staff.user.username %>
                </p>

                <!-- Only actual staff member or admin can edit -->
                <%= link_to 'Edit Staff Profile', edit_staff_path(@staff), class:"btn btn-pink" %> |
                <%= link_to 'Edit User Account', edit_user_path(@staff.user), class:"btn btn-primary" %> |
              <% end %> 

              <% if current_user.role == "admin" %> <!-- Only an admin can remove a staff member -->
                <%= link_to 'Remove User from Staff', @staff, method: :delete, data: { confirm: 'Are you sure?', class:"btn btn-warning" } %>|
              <% end %>

              <%= link_to 'Back', staffs_path, class:"btn btn-blue" %>

            <% else %>
              <h1> The page you requested does not exist or may be inaccessible. </h1>
            <% end %>
            </div>
            </div>
        </div>



