<%= render partial: 'layouts/navbar' %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="auth-form well">

      <!-- Options if already logged in -->
      <% if current_user %>
        <h1> Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %> </h1>

      <!-- Login Options -->
      <% else %>
       <h2 id="log-in-title">Log In</h2>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "button" %>
      <% end %>
    </div>
  </div>

  <%= render partial: 'layouts/flash_errors'%>
  <%= yield %>
  
</div>
