  <% if logged_in? %>

    <% if chatcollection.empty? %>
      <h4>You have no chatrooms available. Check your archives (unless this is the archive section) or <%= link_to 'start a new chat!',new_chatroom_path %></h4>
    <% else %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Topic</th>
            <% if !staff %> <!-- Don't need to initiate staff chat -->
              <th>Chat Initiated</th> 
            <% end %>
            <% if current_user.role != "student" %> <!-- Staff can see anon/emergency status -->
              <th> Anonymous Chat? </th>
              <th> Staff Chat? </th>
              <th> Emergency Chat? </th>
            <% end %>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>              
          <% chatcollection.each do |chatroom| %>
          <!-- Staff can view emergency/staff chats. Assigned chatroom partners can view chat. 
               Students can view open, private chats with an unclaimed students and counselors can do likewise if there is no counselor -->
          <% if 
                #View chat if no student/counselor claimed.
                (current_user.role != "student" && chatroom.counselor == nil) || 
                (current_user.role == "student" && chatroom.user_id == nil)   || 
                #View chat if you're assigned to chat. 
                (chatroom.counselor == current_user.id) || 
                (chatroom.user_id == current_user.id)   || 
                #View chat if you're staff and it's a staff or emergency chat.
                (current_user.role != "student" && chatroom.staff) || 
                (current_user.role != "student" && chatroom.emergency) %>

            <tr>
              <td><%= link_to chatroom.topic, chatroom_path(chatroom), style:"color:black"%></td>

              <!-- Chat Initiation Status -->
              <% if !staff %>
              <td>
                <!-- If you're a student and counselor hasn't claimed yet. -->
                <% if chatroom.user_id == current_user.id && chatroom.counselor == nil %> 
                  Pending <%=chatroom.counselor_type %> counselor response. 

                <!-- If you're a counselor and student hasn't claimed yet. -->
                <% elsif chatroom.counselor == current_user.id && chatroom.user_id == nil %>      
                  Pending student response. 

                <!-- If you're eligble to claim the chatroom, the option appears. -->
                <% elsif ((current_user.role != "student" && chatroom.counselor == nil) || 
                          (current_user.role == "student" && chatroom.user_id == nil)) %> 
                            No. <%= link_to 'Click to Claim.', chatroom %> 

                <!-- If chat fully initiated, counselors see status with username if non-anon -->
                <!-- Students will see counselor name regardless of chatroom anonymity -->
                <% elsif current_user.role != "student" %> 
                  <% if chatroom.anonymous %> 
                    Anonymous Chat Active. 
                  <% else %> 
                    Chat Active with <%= User.find(chatroom.user_id).name %>. 
                  <% end %> 
                <% else %> 
                  Chat active with <%= User.find(chatroom.counselor).name %>. 
                <% end %>
              </td> 
              <% end %>

              <% if current_user.role != "student" %> 
              <!-- If staff can see anon/emergency status -->
                <td><% if chatroom.anonymous %> Yes <% else %> No <% end %></td>
                <td><% if chatroom.staff %> Yes <% else %> No <% end %></td>
                <td><% if chatroom.emergency %> Yes <% else %> No <% end %></td>
              <% end %>

              <td>
                <%= link_to 'Enter Chatroom', chatroom, class:"btn btn-success" %> 
                 <% if current_user.role == "admin" || 
                      current_user.id == chatroom.user_id || 
                      current_user.id == chatroom.counselor || 
                      (current_user.role != "student" && chatroom.emergency) %>
                  <!-- Only admin, assigned user and counselor, or staff in emergencies can edit chatroom. Staff can edit all public.-->
                  <%= link_to 'Edit', edit_chatroom_path(chatroom), class:"btn btn-warning" %>
                <% end %>
              </td> 
            </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
  <% end %>
  <p>&nbsp;</p>
  <% else %>  <!-- Can't view page if not logged in -->
    <h1> The page you are looking for does not exist or may be inaccessible </h1>
  <% end %>
 
