<div class="container"> 
  <div class="col-xs-12 col-sm-11 col-md-11 ">
  <% if logged_in? && current_user.role != "student" %>
    <% if @active_users.empty? %>
      <h4>No active users at this time.</h4>
    <% else %>
      <h4>Active Users</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Role</th>
              <th>Online</th>
            </tr>
          </thead>
          <tbody>
            <% @active_users.each do |user| %>
              <tr>
                <td><%= link_to user.name, user_path(user) %></td>
                <td><%=user.username %></td>
                <td><%= user.role %></td>
                <td><%= @online_users.include? user %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
    <p>&nbsp;</p>
  <% end %>

  <% if logged_in? && current_user.role == "admin" %>  <!-- Only admin can manage deactivated accounts -->
    <% if @inactive_users.empty? %>
      <h4>No inactive users at this time.</h4>
    <% else %>
      <h4>Inactive Users</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            <% @inactive_users.each do |user| %>
              <tr>
                <td><%= link_to user.name, user_path(user) %></td>
                <td><%=user.username %></td>
                <td><%= user.role %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
  <p>&nbsp;</p>

  <% else %> 
  <h1> The page you are looking for does not exist or may be inaccessible </h1>
  <% end %>
  </div>
</div>
