


    <%= render partial: 'layouts/navbar' %>

        <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-1 col-md-offset-1">

        <br><br><br>
            <div class="well">


            <!-- Staff can edit staff chats. Only user/counselor in a chat can edit -->
            <% if logged_in? && ((@chatroom.staff && current_user.role != "student") || (current_user.id == @chatroom.counselor || current_user.id == @chatroom.user_id))%>
            	<h1>Editing Chatroom: <%= @chatroom.topic %></h1>
            	<%= render 'edit_form', chatroom: @chatroom %>
            <% else %>
            	<h1> The page you requested does not exist or may be inaccessible.</h1>
            <% end %>
            <br>
			<%= link_to 'Back to Chatroom', @chatroom, class:"btn btn-blue"%> | <%= link_to 'Back to all Available Chatrooms', chatrooms_path, class:"btn btn-pink" %>
			</div>
			</div>

