<%= render partial: 'layouts/navbar' %>
<div class="container"> 
<div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
<% if logged_in? %>
<h1>Your Chatrooms</h1>
<%= render partial: 'layouts/flash_success'%>
  <!-- Admin sees all chats, staff and emergency -->
  <% if current_user.role == "admin" %>
    <%= render partial: "chatrooms/chatroomcollapse", locals: { emergency_chat_collection: 
                                                               @emergency_chatrooms, active_chat_collection: @active_chatrooms, 
                                                             inactive_chat_collection: @inactive_chatrooms,
                                                              staff_chat_collection: @active_staff_chatrooms,
                                                               inactive_staff_chat_collection: @inactive_staff_chatrooms,} %> 
  <!-- Professional Sees all professional or all counselor chats, Staff, and Emergency -->
  <% elsif current_user.role == "professional" %>
    <%= render partial: "chatrooms/chatroomcollapse", locals: { emergency_chat_collection: 
                                                               @emergency_chatrooms, active_chat_collection: @active_professional_chatrooms, 
                                                             inactive_chat_collection: @inactive_professional_chatrooms,
                                                              staff_chat_collection: @active_staff_chatrooms,
                                                               inactive_staff_chat_collection: @inactive_staff_chatrooms,} %>       
  <!-- Peers Sees all professional or all peer chats, Staff, and Emergency -->
  <% elsif current_user.role == "peer" %>
    <%= render partial: "chatrooms/chatroomcollapse", locals: { emergency_chat_collection: 
                                                               @emergency_chatrooms, active_chat_collection: @active_peer_chatrooms, 
                                                             inactive_chat_collection: @inactive_peer_chatrooms,
                                                              staff_chat_collection: @active_staff_chatrooms,
                                                               inactive_staff_chat_collection: @inactive_staff_chatrooms,} %> 
  <!-- Students see chats by anonymity status, no staff and no emergency -->
  <% else %>
    <%= render partial: "chatrooms/chatroomcollapse", locals: {active_anon_collection: @active_anon_chatrooms, 
                                                             active_non_anon_collection: @active_nonanon_chatrooms, 
                                                             inactive_chat_collection: @inactive_chatrooms,} %>
  <% end %>

<% else %> <!-- Only registered users can see chatrooms -->
  <h1> The page you requested does not exist or may be inaccessible. </h1>
<% end %>
</div>
</div>

