<%= render partial: 'layouts/navbar' %>
<% if current_user.role != 'student' && @chatroom.private && !@chatroom.counselor.present? %>
  <%= render 'update_form' %>
  <% end %>
<div class="row col-md-8 col-md-offset-2">
  <h1><%= @chatroom.topic %></h1>
 
<% if @chatroom.private && current_user.id == @chatroom.counselor %>
<% if User.active.online.include? User.find(@chatroom.user_id) %> Patient: (Online) <% else %> Patient: (Offline)
 <% end %>


<% elsif @chatroom.private && current_user.id == @chatroom.user_id && @chatroom.counselor.present? %>
<% if User.active.online.include? User.find(@chatroom.counselor) %> Counselor: (Online) <% else %> Counselor: (Offline)
 <% end %>



<% end %>

<div class="panel panel-default">
  <% if @chatroom.messages.any? %>
    <div class="panel-body" id="messages">
      <%= render partial: 'messages/message', collection: @chatroom.messages%>
    </div>
  <%else%>
    <div class="panel-body hidden" id="messages">
    </div>
  <%end%>
</div>


  <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
</div>