<%= render partial: 'layouts/navbar' %>

<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-1 col-md-offset-1">
<br>
  <% if logged_in? && current_user.role != "student" %>
    <% if @active_users.empty? %>
      <h4>No active users at this time.</h4>
    <% else %>
      <h4>Active Users</h4>
      <hr class="style15">
        <table class="table table-striped">
          <thead>
            <tr class="style2">
              <th class="style2">Name</th>
              <th class="style2">Username</th>
              <th class="style2">Role</th>
              <th class="style2">Online</th>
            </tr>
          </thead>
          <tbody>
            <% @active_users.each do |user| %>
              <tr class="style2">
                <td class="style2"><%= link_to user.name, user_path(user) %></td>
                <td class="style2"><%=user.username %></td>
                <td class="style2"><%= user.role %></td>
                <td class="style2"><%= @online_users.include? user %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
    <p>&nbsp;</p>


  <% if logged_in? && current_user.role == "admin" %>  <!-- Only admin can manage deactivated accounts -->
    <% if @inactive_users.empty? %>
      <h4>No inactive users at this time.</h4>
    <% else %>
      <h4>Inactive Users</h4>
        <hr class="style15">
        <table class="table table-striped">
          <thead>
            <tr class="style2">
              <th class="style2">Name</th>
              <th class="style2">Username</th>
              <th class="style2">Role</th>
            </tr>
          </thead>
          <tbody>
            <% @inactive_users.each do |user| %>
              <tr class="style2">
                <td class="style2"><%= link_to user.name, user_path(user) %></td>
                <td class="style2"><%=user.username %></td>
                <td class="style2"><%= user.role %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
  <% end %>
  <p>&nbsp;</p>

  <% else %> 
  <h1> The page you are looking for does not exist or may be inaccessible. </h1>
  <% end %>
  </div>

