<%= render partial: 'layouts/navbar' %> <!-- Display Navbar on all pages -->
        
        <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-1 col-md-offset-1">
        <br><br>
                <div class="panel panel-profile text-center">
                            <span class="fa-stack fa-4x">
                                  <i class="fa fa-circle fa-stack-2x text-black"></i>
                                  <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                            </span>
                    <br><br><br>
                        <% if logged_in? && (current_user.role == 'admin' || current_user.id == @user.id) %>
                            <p> <b>Name or Andrew ID (shows up during non-anonymous chat):</b> <br><%= @user.name %> </p> <br>
                            <p> <b>Username (shows up during anonymous chat): </b> <br><%= @user.username %> </p> <br> 

                            <% if current_user.role == 'admin' %> <!-- Admin can see if user is active -->
                                <p> <b> Active Account: </b> <%= @user.active %> </p> <br> <br>
                            <% end %>

                            <%= render 'update_form' %> <!-- Allows account owner/admin to edit -->

                        <% else %>
                            <h1> The page you are looking for does not exist or may be inaccessible. </h1>

                        <% end %>
                </div>

            </div>




  <!-- this is the last div, even if you delete the card, don't delete this -->
