<!-- Adapted from: https://blog.heroku.com/real_time_rails_implementing_websockets_in_rails_5_with_action_cable -->
<%= render partial: 'layouts/navbar' %>
<% if !logged_in? %>
  <div class="container"> 
  <div class="row centered-form">
  <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
    <div class="card card-container">
    <div class="well">
      <h2> Consent Form Here </h2>
      <h2 id="log-in-title">Chat Anonymously</h2>
      <h3> <i> One time use account gives you a random username that you can use for anonymous chat. Skips Google Authentication. </i> </h3>

      <p> Your Andrew ID confirms that you're a CMU student. If you create or enter an anonymous chat, no one you chat with will be able to view your Andrew ID during the chat unless you choose to reveal it. </p>

      <div class="auth-form well">
      <%= form_for(User.new, url: signup_path) do |f| %>
        <%=f.label :name, "Enter your Andrew ID"%>
        <div class="input-group">
          <span class="input-group-addon">@</span>
            <%= f.text_field :name, class: "form-control", :required => true%>
        </div>
        <div class="actions">
          <%= f.submit "sign up", class: "btn btn-primary" %>
        </div>
      <% end %>
      <!-- Source: https://richonrails.com/articles/google-authentication-in-ruby-on-rails -->
       <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      </div>
        <%= render partial: 'layouts/flash_errors'%>
    </div>
    </div>
  </div>
  </div>
  </div>

<% else %> 
<!-- Don't show signup if already logged in    -->
  <br><br><br>
  <center><h1> You are already logged in! </h1></center>
  <a href="/" class="navbar-brand" data-turbolinks="false">Return to Tartan Talk</a>.
<% end %>