<!-- Adapted from: https://blog.heroku.com/real_time_rails_implementing_websockets_in_rails_5_with_action_cable -->
<%= render partial: 'layouts/navbar' %>

<div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-2 col-md-offset-2">

<% if !logged_in? %>
<br>
<div class="jumbotron jumbotron-fluid">
  <h1>Terms of Use</h1>
  <h5> 
        By using this service you agree to the terms of service and privacy policy. The important parts are summarized below. 


        One-time use accounts only store your andrew ID, which is only visible during an emergency or if you start a non-anonymous chat. If you use a Google account, we only collect your name and nothing else (Google manages the rest). Your name is only visible if you start a non-anonymous chat. 


        You agree to be respectful of all students and counselors on this website. 


        Private chat sessions with counselors will remain confidential unless you provide your consent to reveal any information. Public chat sessions are not confidential. 
        If you create a private chat and specify a counselor, only that counselor can see it
        If you create a private chat, only the counselor group (all, professional, peer) will initially see it, and once a counselor claims the chatroom, then only you and counselor will be able to see the chat. 


        Upon account creation, the system uses a secure random number generator to create a username. This username will be used for anonymous chats. 


        One-time accounts are best if you don’t expect to regularly use this service or don’t want to establish a persistent history. One-time accounts are best for occasional loneliness or when you expect you will only use this service once. 


        Things like depression, consistent stress, or the need for multiple chat sessions are best done by signing in via your andrew account through Google. 


        If you would like more information, please check out our FAQ. For more information about CaPS, see the following:  </h5>
        <br>
        <a class="btn btn-primary btn-lg" href="http://www.cmu.edu/counseling/resources/index.html" role="button" style="width:40%;float: left"> CMU Counseling Resources </a>
        <a class="btn btn-pink btn-lg" href="http://www.cmu.edu/counseling/about-us/index.html" role="button" style="width:40%;float: left"> CMU Counseling About </a>
        <br>

</div>
<hr class="style16" style="width: 60%"">

            <div class="col-xs-12 col-md-6">
                <div class="panel panel-login text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-2x text-black"></i>
                              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Sign in With Google</h4>
                             <!-- Source: https://richonrails.com/articles/google-authentication-in-ruby-on-rails -->
                        <div class="auth-form ">

                         <h5> <i>Signing with Google stills allows you to be anonymous while allowing for continous
                         interaction with a counselor. You will have access to all chats this way. </i> </h5>
                         <br>
                         <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class:"btn btn-primary" %>
                        </div>
                         <%= render partial: 'layouts/flash_errors'%>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-md-6">
                <div class="panel panel-login text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-2x text-black"></i>
                              <i class="fa fa-user-secret fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                    <span><h4 id="log-in-title">Want to Chat Anonymously
                      <button id="ibutton" type="submit" class="label label-primary" data-toggle="modal" data-target="#myModal"> 
                        <i class="fa fa-question"></i>
                      </button>
                    </h4></span>

                        <div class="auth-form ">
                          <%= form_for(User.new, url: signup_path) do |f| %>
                            <%=f.label :name, "Enter your Andrew ID"%>
                            <div class="input-group">
                              <span class="input-group-addon">@</span>
                                <%= f.text_field :name, class: "form-control", :required => true%>
                            </div>
                            <div class="actions">
                              <%= f.submit "sign up", class: "btn btn-primary" %>
                            </div>
                          <% end %>
                        </div>
                    </div>
                </div>
            </div>


<% else %> 
<!-- Don't show signup if already logged in    -->
 
  <center><h1> You are already logged in! </h1>
  <br><br>
  <a href="/" class="btn-pink" data-turbolinks="false" style="float:center">Return to Tartan Talk</a>.
  </center>
<% end %>

                        <!-- modal -->
                         <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel"> <i> This is a one time use account. We give you a random username that you can use for anonymous chats. This also allows you to skip Google Authentication. </i> </h4>
                                    </div>
                                    <div class="modal-body" style="background:#CEE6E1">
                                      <p> It is important to note that when you enter your Andrew ID all it does is confirms that you're in fact a CMU student. So, when you create or enter an anonymous chat, no one you chat with will be able to view your Andrew ID during the chat unless you choose to reveal it. </p>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Got it!</button>
                                    </div>
                                </div>
                            </div>
                        </div>

</div>