<!-- Adapted from: https://blog.heroku.com/real_time_rails_implementing_websockets_in_rails_5_with_action_cable -->
<!DOCTYPE html>
<html>
  <head>

    <title>Tartan Talk</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!--<link rel="stylesheet" href={% static 'css/handprintgenerator.css' %} type="text/css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <!-- font awesome icon use -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= favicon_link_tag 'Logo-red.png' %>
    <%= stylesheet_link_tag 'application', "application.css" %>


    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" /> -->
  </head>

  <body>


    <div class="container-fluid">
      <div class="row centered-form">
        <div id="wrapper">
          <%= yield %>
        </div>
      </div>
      <div class="row">
        <%= render partial: 'layouts/footer' %>
    </div>
    </div> 


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery library -->
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
    </script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
 </body>
     
</html>

