<!-- Adapted from: https://blog.heroku.com/real_time_rails_implementing_websockets_in_rails_5_with_action_cable -->
<!DOCTYPE html>
<html>
  <head>

    <title>Tartan Talk</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>

    <%= favicon_link_tag 'Logo-red.png' %>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" /> -->
  </head>

  <body>
    <%= yield %>
  </body>
  <center><%= render partial: 'layouts/footer' %></center>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</html>

